.footer-container{ background-color: #2b2b2b }

.first-foot{ max-width: 80%; margin: 0 auto; padding-bottom: 5%; }

.second-foot{ max-width: 90%; margin: 0 auto; border-top: 1px solid rgba(255, 255, 255, 0.2); padding-top: 5%; padding-bottom: 5%; display: flex; justify-content: space-between }

.footer-info > p{ letter-spacing: 1.5px; margin-bottom: 10% }

.info-first{ color: rgba(255 , 255 , 255 , .6); }
.info-first p{ font-weight: bold }
.info-first p:last-child{ margin-bottom: 10%; }
.info-second{ display: flex }

.footer-link{ display: flex; justify-content: space-between; width: 60%; }
.link-first{ width: 16%; }
.link-second{ width: 16%; }
.link-third{ width: 16%; }
.link-fourth{ width: 25%; position: relative; display: flex; flex-direction: column; justify-content: space-between; }
.link-first p{ margin-bottom: 15%; cursor: pointer }
.link-second p{ margin-bottom: 18%; cursor: pointer }
.link-second p:nth-child(4){ color: #0072ce; text-decoration: underline }
.link-third div{ margin-bottom: 15% }
.link-fourth button{ border: 1px solid rgba(255, 255, 255, 0.2); width: 100%; cursor: pointer; background:none; border-radius: 5px; height: 15%; padding-left: 5%; padding-right: 5%; }

.family-link{ position: absolute; background-color: white; width: 100%; display: none; top: 10%; color: black; padding-left: 3%; padding-top: 10% }
.family-link p{ margin-bottom: 5%; }
.link-click{ display: block }
.language{ text-align: right; }
.language p{ margin-top: 10% }

.ismsp p{ line-height: 18px; }